main {
    width: 100%;
    background: inherit;
    padding: 1.0em 0;

    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(162px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(408px, 1fr));
    gap: 1.2em;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

main section {
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    box-shadow: rgba(66,57,58,0.4) 4px 4px 4px;
    margin: 1.0em;
}

main section h6 {
    background: var(--secondary-color);
    color: var(--primary-color);
}

main li p {
    padding: 0.4em;
}

main li input {
    padding: 0.4em;
}

main li input[type="text"] {
    width: 85%;
}

/*** SECTION: Add New... ***/
main section.add-new {
    min-width: 40%;
    max-width: 60%;
}

main section.add-new input.small {
    width: 30%;
}

main section.add-new ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0.8em 0;
}

main section.add-new ul:last-child li:first-child {
    justify-self: center;
}

main section.add-new ul li:first-child {
    justify-self: end;
    padding-right: 0.4em;
}

main section.add-new ul:not(last-child) li:last-child {
    justify-self: start;
    width: 100%;
} 

main section.add-new ul li input[type='text'] {
    border: 2px solid var(--primary-color);
    border-radius: 10px;
}

main section.add-new ul li.button-end input {
    justify-self: end;
}

main section.add-new ul li select,
main section.add-new ul li select option {
    padding: 0.4em 0;
}

main section.add-new ul li input.buttons {
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    background: var(--secondary-color);
    color: var(--primary-color);
    padding: 1.0em;
}

main section.add-new ul li input.buttons:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
}


/*** SECTION: Reports ***/
/* main section.reports */

/*** SECTION: Monthly Stats ***/
main section.monthly-stats h6 {
    grid-row: 1;
    grid-column: 1 / span 2;
}

main section.monthly-stats ul {
    list-style: none;
}

main section.monthly-stats ul li:nth-child(4n-3),
main section.monthly-stats ul li:nth-child(4n-2) {
    background: var(--primary-color);
}

main section.monthly-stats ul.col1 {
    grid-row: 2;
    grid-column: 1;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    align-items: center;
}

main section.monthly-stats ul.col2 {
    grid-row: 2;
    grid-column: 2;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    align-items: center;
}

main section.monthly-stats ul.col1 li,
main section.monthly-stats ul.col2 li {
    width: 100%;
}

/*** SECTION: Stats Current Year ***/
main section.stats-current-year {
    grid-row: 1;
    grid-column: 2;
    justify-self: end;
}

main section.stats-current-year h6 {
    grid-row: 1;
    grid-column: 1 / span 2;
}

main section.stats-current-year ul {
    list-style: none;

    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: start;
    align-items: center;
}

main section.stats-current-year ul li {
    width: 100%;
}

main section.stats-current-year ul li:nth-child(4n-3),
main section.stats-current-year ul li:nth-child(4n-2) {
    background: var(--primary-color);
}

main section.outstanding-invoices {
    grid-row: 2;
    grid-column: 1 /  span 2;
    min-width: 328px;
    width: 100%;
}

/*** SECTION: Outstanding Invoices ***/
main section.outstanding-invoices ul {
    list-style: none;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45px, 1fr));
    justify-items: center;
    align-items: center;
}

main section.outstanding-invoices ul li p {
    overflow: hidden;
}

main section.outstanding-invoices ul.ul-lines:nth-child(odd) {
    background: var(--primary-color);
}

main section.outstanding-invoices ul li {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

main section.outstanding-invoices ul li img {
    width: 32px;
}

main section.outstanding-invoices ul li a img {
    width: 32px;
    padding: 0.2em 0;
    margin: 0 auto;
    display: block;
}

main section.outstanding-invoices ul li input {
    justify-self: center;
    align-self: center;
}